



<div id="container" style="background-image: url('/images/pexels-wilcle-nunes-38713774-27165069.jpg');
 background-size: cover; background-position: center; background-repeat: no-repeat;">
    <div  class= "service-container">
    <div class="grid text-center">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-disabled="true" >시술선택</a>
            </li>
        <fieldset>
            <div class="fieldset-group flex-container">
                <div class="g-col-md-4">
                    <label>성별 </label>
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="gender" id="male" autocomplete="off">
                        <label class="btn btn-outline-primary" for="male" style="border-radius: 10px">남자</label>
                        <input type="radio" class="btn-check" name="gender" id="fmale" autocomplete="off">
                        <label class="btn btn-outline-primary" for="fmale" style="border-radius: 10px">여자</label>
                    </div>
                </div>
                <div class="g-col-md-4">
                    <label>정렬순 </label>
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="sortorder" id="price" autocomplete="off">
                        <label class="btn btn-outline-primary" for="price" style="border-radius: 10px">가격</label>
                        <input type="radio" class="btn-check" name="sortorder" id="review" autocomplete="off">
                        <label class="btn btn-outline-primary" for="review" style="border-radius: 10px">리뷰</label>
                        <input type="radio" class="btn-check" name="sortorder" id="revisiting" autocomplete="off">
                        <label class="btn btn-outline-primary" for="revisiting" style="border-radius: 10px">재방문</label>
                    </div>
                </div>
                <div class="g-col-md-4">
                    <label>위치 </label>
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="location" id="current-location" autocomplete="off">
                        <label class="btn btn-outline-primary" for="current-location" style="border-radius: 10px">현재위치</label>
                        <input type="radio" class="btn-check" name="location" id="on-a-map" autocomplete="off">
                        <label class="btn btn-outline-primary" for="on-a-map" style="border-radius: 10px">지도에서 선택</label>
                    </div>
                </div>
            </div>
            <div class="fieldset-group">
                <label>서비스 </label>
                <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                    <input type="checkbox" class="btn-check" id="cut" autocomplete="off">
                    <label class="btn btn-outline-primary" for="cut" style="border-radius: 10px">컷</label>
                    <input type="checkbox" class="btn-check" id="perm" autocomplete="off">
                    <label class="btn btn-outline-primary" for="perm" style="border-radius: 10px">펌</label>
                    <input type="checkbox" class="btn-check" id="color" autocomplete="off">
                    <label class="btn btn-outline-primary" for="color" style="border-radius: 10px">염색</label>
                    <input type="checkbox" class="btn-check" id="clinic" autocomplete="off">
                    <label class="btn btn-outline-primary" for="clinic" style="border-radius: 10px">크리닉</label>
                    <input type="checkbox" class="btn-check" id="dry" autocomplete="off">
                    <label class="btn btn-outline-primary" for="dry" style="border-radius: 10px">드라이</label>
                    <input type="checkbox" class="btn-check" id="undetermined" autocomplete="off">
                    <label class="btn btn-outline-primary" for="undetermined" style="border-radius: 10px">상담 후 결정</label>
                </div>
            </div>
        </fieldset>
        </ul>
    </div>
    </div>
</div>



